@keyframes charging {
  0.00% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 0%, transparent 100%);
  }
  4.76% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 5%, transparent 100%);
  }
  9.52% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 10%, transparent 100%);
  }
  14.29% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 15%, transparent 100%);
  }
  19.05% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 20%, transparent 100%);
  }
  23.81% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 25%, transparent 100%);
  }
  28.57% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 30%, transparent 100%);
  }
  33.33% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 35%, transparent 100%);
  }
  38.10% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 40%, transparent 100%);
  }
  42.86% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 45%, transparent 100%);
  }
  47.62% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 50%, transparent 100%);
  }
  52.38% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 55%, transparent 100%);
  }
  57.14% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 60%, transparent 100%);
  }
  61.90% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 65%, transparent 100%);
  }
  66.67% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 70%, transparent 100%);
  }
  71.43% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 75%, transparent 100%);
  }
  76.19% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 80%, transparent 100%);
  }
  80.95% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 85%, transparent 100%);
  }
  85.71% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 90%, transparent 100%);
  }
  90.48% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 95%, transparent 100%);
  }
  95.24% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 100%, transparent 100%);
  }
  100.00% {
    background-image: linear-gradient(to right, transparent 0%, rgba(51, 255, 102, 0.3) 0%, transparent 100%);
  }
}
* {
  border: none;
  border-radius: 0;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 13px;
  min-height: 0;
}
label:focus {
  background-color: #000000;
}
window#waybar {
  background-color: rgba(43, 48, 59, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: #333333;
  transition-property: background-color;
  transition-duration: .5s;
}
window#waybar.hidden {
  opacity: 0.2;
}
/*window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
window#waybar.termite {
    background-color: #3F3F3F;
}
window#waybar.chromium {
    background-color: #000000;
    border: none;
}
*/
#clock,
#battery,
#temperature,
#memory,
#cpu,
#network,
#pulseaudio,
#backlight,
#idle_inhibitor,
#mode {
  padding: 0 10px;
  margin: 0 4px;
}
#clock {
  background-color: rgba(51, 205, 255, 0.3);
  border-bottom: 3px solid #33cdff;
  color: #FFFFFF;
  font-weight: bold;
}
#battery {
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 3px solid #FFFFFF;
  color: #FFFFFF;
  font-weight: bold;
}
#battery.charging {
  animation-name: charging;
  animation-duration: 2.0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}
#battery.critical:not(.charging) {
  background-color: rgba(255, 77, 122, 0.3);
  border-bottom: 3px solid #ff4d7a;
  color: #FFFFFF;
  font-weight: bold;
}
#temperature {
  background-color: rgba(51, 255, 102, 0.3);
  border-bottom: 3px solid #33ff66;
  color: #FFFFFF;
  font-weight: bold;
}
#temperature.critical {
  background-color: rgba(255, 77, 122, 0.3);
  border-bottom: 3px solid #ff4d7a;
  font-weight: bold;
  color: #FFFFFF;
}
#memory {
  background-color: rgba(204, 51, 255, 0.3);
  border-bottom: 3px solid #cc33ff;
  color: #FFFFFF;
  font-weight: bold;
}
#cpu {
  background-color: rgba(255, 204, 51, 0.3);
  border-bottom: 3px solid #ffcc33;
  color: #FFFFFF;
  font-weight: bold;
}
#network {
  background-color: rgba(51, 205, 255, 0.3);
  border-bottom: 3px solid #33cdff;
  color: #FFFFFF;
  font-weight: bold;
}
#network.disconnected {
  background-color: rgba(255, 77, 122, 0.3);
  border-bottom: 3px solid #ff4d7a;
  color: #FFFFFF;
  font-weight: bold;
}
#backlight {
  background-color: rgba(255, 255, 255, 0.3);
  border-bottom: 3px solid #FFFFFF;
  color: #FFFFFF;
  font-weight: bold;
}
#pulseaudio {
  background-color: rgba(255, 204, 51, 0.3);
  border-bottom: 3px solid #ffcc33;
  color: #FFFFFF;
  font-weight: bold;
}
#pulseaudio.muted {
  background-color: rgba(85, 85, 85, 0.3);
  border-bottom: 3px solid #555555;
  font-weight: bold;
  color: #FFFFFF;
}
#idle_inhibitor {
  background-color: rgba(85, 85, 85, 0.3);
  border-bottom: 3px solid #555555;
  font-weight: bold;
  color: #FFFFFF;
}
#idle_inhibitor.activated {
  background-color: rgba(255, 77, 122, 0.3);
  border-bottom: 3px solid #ff4d7a;
  color: #FFFFFF;
  font-weight: bold;
}
#mode {
  background-color: rgba(255, 204, 51, 0.2);
  color: #FFFFFF;
  border-bottom: 3px solid #ffcc33;
}
#window {
  color: #FFFFFF;
  padding: 0px 10px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}
#workspaces button {
  padding: 0 5px;
  background-color: transparent;
  border-bottom: 3px solid transparent;
  color: #FFFFFF;
  /* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
}
#workspaces button:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: inherit;
  border-bottom: 3px solid #FFFFFF;
}
#workspaces button.focused {
  background-color: #64727D;
  border-bottom: 3px solid #ffffff;
}
#workspaces button.urgent {
  background-color: rgba(255, 204, 51, 0.2);
  border-color: #ffcc33;
}
#tray {
  padding: 0px 10px;
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
}
