window {
	border: 5px solid #E6003A;
	background-color: #323232;
}

#outer-box {
	margin: 5px;
}

#input {
	
	border: none;
	border-radius: 0;
}

#inner-box {
	color: #FFFFFF;
}

#entry {
	padding: 5px;
}
#entry:selected {
	background-color: #E6003A;
}